.back {
  display: flex;
  align-items: center;
}

.back p {
  margin: 0 0 0 30px;
  font-size: 200%;
  font-weight: 900;
}

.Product_card {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.Card {
  text-align: center;
  margin: 0 20px;
}

.Card-detail {
  text-align: left;
  margin: 10px 20px;
}

.Card-name {
  font-size: 150%;
  font-weight: 900;
}

.Card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: large;
}

.Rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.discount {
  color: #f68181;
  border: 1px black solid;
  border-radius: 5px;
  padding: 1px 9px;
}

.Card button {
  background-color: #7707bb;
  color: white;
  font-size: large;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
}

.Card button a {
  color: white;
  text-decoration: none;
}
