@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
  margin: 0 30px;
  padding: 0;
  box-sizing: border-box;
  background-color:#F3D9FF ;
  font-family:"Manrope", Arial, Helvetica, sans-serif;
}